.vs/VueCore/FileContentIndex/7989edfd-9d14-4364-8104-1cc951aab18d.vsidx
.vs/VueCore/FileContentIndex/read.lock
.vs/VueCore/v17/.suo
.vs/VueCore/FileContentIndex/1f1e6e1f-557b-4a5e-8b2e-90cbe348322f.vsidx
